<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="OverridePackages" value="./packages/overrides" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BuildXL.External" value="https://pkgs.dev.azure.com/mseng/PipelineTools/_packaging/BuildXL.External/nuget/v3/index.json" />
    <add key="BuildXL.External.Dependencies" value="https://pkgs.dev.azure.com/mseng/PipelineTools/_packaging/BuildXL.External.Dependencies/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="OverridePackages">
      <!-- Override packages served from local folder. This should sync with OverridePackage in build/setup-dependencies.proj -->
      <package pattern="Microsoft.BuildXL.Interop.Runtime.osx-x64" />
    </packageSource>
    <packageSource key="BuildXL.External.Dependencies">
      <!-- BuildXL packages served from the internal feed -->
      <package pattern="RocksDb*" />
    </packageSource>
    <packageSource key="BuildXL.External">
      <!-- BuildXL packages served from the internal feed -->
      <package pattern="Microsoft.BuildXL.*" />
      <package pattern="BuildXL.*" />
    </packageSource>

    <packageSource key="nuget.org">
      <!-- fallback: everything else comes from nuget.org -->
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
